.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    " board board board . reset . ."
    " board board board . . . ."
    " board board board selection selection . ."
    " board board board selection selection . .";
}

@media screen and (max-width: 600px) {
  .App {
    grid-template-areas:
      ". reset reset . "
      ". board board ."
      ". board board ."
      ". board board ."
      ". board board ."
      ". selection selection .";
      
  }
}

@media screen and (min-width:601px) {
  .App{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
